body {
	background: #0097a7 ;
	min-height: 200vh;
}

nav {
	height: 0px;
}

.thin-text {
	font-weight: 200;
	padding: 20px;

}
.parallax-container {
	height: 400px;
}

.dp {
	width: 145px;
	height: 145px;
}


.name {
	margin-top: 150px;
	width: 1200px;
	color: #f5f5f5 ;
	font-size: 250%;
	margin-bottom: 50px;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1s;
}

.desc {
	margin-left: 50px;
	margin-top: -80px;
	width: 1200px;
	margin-bottom: 50px;
	color: #f5f5f5;
	font-size: 150%;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1.5s;
}

.side-nav li a {
	color: #00acc1 ;
}

.side-nav li a:hover {
	color: #f5f5f5;
}

.side-nav {
	background: #455a64 ;
}

.follow-me {
	width: 100%;
	text-align: center;
}
.follow-item {
	width: 25%;
	float: left;
	color: #f5f5f5;
}
.follow-item:hover {
	color: #00acc1;
	background: #455a64 ;
}

.play-but:hover {
	height: 28px;
	width: 24px;
	background: url("assets/img/play_white.png") no-repeat;
	display: inline-block;
}

.heading {
	font-size: 40px;
}

.about-div, .projects-div, .contact-div, .blog-div {
	height: 400px;
}


 header, main, footer {
      padding-left: 200px;
    }

@media only screen and (max-width : 992px) {
   header, main, footer {
        padding-left: 0;
     }

   nav {
   	height: 56px;

   }

}





